html
    include head.pug
    body
        div(class='container')
            h1 Tervetuloa
            p Olet kirjautuneena käyttäjällä: #{kayttaja}
            p Taloyhtiön palvelut
            a(href='/resurssit?toiminto=varaa') Varaa resurssi
            br
            a(href='/resurssit?toiminto=muokkaa') Muokkaa resurssia
            br
            a(href='/luoresurssi') Luo uusi resurssi
            br
            a(href='/aikarakolistaus') Listaa aikaraot
            br
            a(href='/omatvaraukset') Listaa/poista omia varauksiani
            br
            a(href='/resurssilistaus') Listaa kaikki resurssit (muokkaus&poisto)
            br
            a(href='/logout') Kirjaudu ulos
            br