html
  head
    title= title
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

  body
    h1 Tervetuloa
    p Taloyhtiön palvelut
    a(href='/resurssit') Varaa resurssi
    br
    a(href='/muokkaaresurssia) Muokkaa resurssia
    br
    a(href='/luoresurssi') Luo uusi resurssi
    br
    a(href='/aikarakolistaus') Listaa aikaraot
    br

