html
  head
    title= title
  body
    h1 Tervetuloa
    p Taloyhtiön palvelut
    a(href='/resurssit') Selaa resursseja
    br
    a(href='/muokkaaresurssia') Muokkaa resurssia
    br
    a(href='/luoresurssi') Luo uusi resurssi
    br
    a(href='/aikarakolistaus') Listaa aikaraot
    br

