// - var toiminnot = ['Yksitt채iset varaukset', 'Varaa vakioaika', 'Muokkaa varauksia', 'Yhteenveto varauksista', 'Salasanan vaihto',' Kirjaudu ulos'];

h1 P채채valikko

each toiminto in toiminnot.length ? toiminnot : ['Valikkoa ei pystyt채 muodostamaan']
	button #{toiminto}
	br