//- var resurssi = {id: 1, resurssinnimi: 'sauna'}
//- var ekapaiva = {id: 1, ajankohta: '14.8.2017'}
//- var tokapaiva = {id: 2, ajankohta: '15.8.2017'}
//- var kolmaspaiva = {id: 3, ajankohta: '16.8.2017'}
//- var aikaraot = [ekapaiva, tokapaiva, kolmaspaiva]

html
	include head.pug
	body
		div(class='container')
			h1 Resurssin #{resurssi} vapaat päivämäärät
			p Valitse päivämäärä
			form(action='/kellonajat', method='get')
				input(type='hidden' name='resurssi_id' value=resurssi_id)
				each aikarako in aikaraot
					button(type='submit' name='paivamaara' value=aikarako.paivamaara) #{aikarako.paivamaara}
					br
