//- var sauna = {id: 1, resurssinnimi: 'sauna'}
//- var pyykkitupa = {id: 2, resurssinnimi: 'pyykkitupa'}
//- var resurssit = [sauna, pyykkitupa]

html
	include head.pug
	body
		div(class='container')
			h1 Resurssit
			p Valitse haluttu resurssi:
			form(action=action, method='get')
				each resurssi in resurssit
					button(type='submit' name='id' value=resurssi.id) #{resurssi.resurssinnimi}
					br
			a(href='/') Palaa etusivulle