// - var toiminnot = ['Yksittäiset varaukset', 'Varaa vakioaika', 'Muokkaa varauksia', 'Yhteenveto varauksista', 'Salasanan vaihto',' Kirjaudu ulos'];

h1 Resurssit

each resurssi in resurssit.length ? resurssit : ['Valikkoa ei pystytä muodostamaan']
	button #{resurssi}
	br