- var sauna = {id: 1, resurssinnimi: 'sauna'}
- var pyykkitupa = {id: 2, resurssinnimi: 'pyykkitupa'}
- var resurssit = [sauna, pyykkitupa]

html
	title Rerurssit
h1 Resurssit
p Valitse haluttu resurssi:
form(action='/resurssi', method='get')
	each resurssi in resurssit
		button(type='submit' name='id' value=resurssi.id) #{resurssi.resurssinnimi}
		br