- var toiminnot = ['Yksittäiset varaukset', 'Vakioajat', 'Yhteenvedot ja laskut', 'Salasanan vaihto',' Kirjaudu ulos']

h1 Päävalikko

each toiminto in toiminnot.length ? values : ['Päävalikkoa ei pystytä muodostamaan']
	p #toiminto